{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Магазин мандаринов</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <header>
        <h1>🍊 Магазин мандаринов</h1>
        <p>Самые свежие и вкусные мандарины</p>
    </header>

    <main>
        <div class="card">
            <h2>Обычный мандарин</h2>
            <p>Сочный, сладкий и ароматный.</p>

            <a href="{% url 'normal' %}">
                <button>Подробнее</button>
            </a>
        </div>
    </main>

</body>
</html>