{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Обычный мандарин</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <header>
        <h1>🍊 Обычный мандарин</h1>
    </header>

    <main>
        <div class="card">
            <h2>Описание</h2>

            <p>
                Обычный мандарин отличается сладким вкусом,
                ярким ароматом и большим количеством витамина C.
            </p>

            <p><strong>Цена:</strong> 120 ₽/кг</p>

            <a href="{% url 'menu' %}">
                <button>Назад в меню</button>
            </a>
        </div>
    </main>

</body>
</html>